{% extends "layout.html" %}
{% block body %}
		
	<h1>Cadastre seu bar aqui!</h1>

	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
		<br/>
	{% endfor %}

	<form action="{{ url_for('cadastrar_bar') }}"
			method="POST">
			<label for="id_nome_bar">Bar:</label>
			<input type="text" class="campo" name="nome_bar" id="id_nome_bar" autofocus/>
			<br/>
			<label for="descr">Descrição:</label>
			<textarea class="campo" rows="5" cols="20" name="descricao_bar"></textarea>
			<br/>
			<label for="ender">Endereço:</label>
			<input type="text" class="campo" name="endereco" />
			<br/>
			<label for="tel">Telefone:</label>
			<input type="tel" class="campo" name="telefone" />
			<br/>
			<label for="id_nome_bar">Horário de funcionamento: </label>
			<input type="time" class="campo" name="horario_ini"/> às <input type="time" class="campo" name="horario_fin" />
			<br/>
			<label for="espec">Especialidade:</label>
			<input type="text" class="campo" name="especialidade" />
			<br/>
			<label for="foto">Foto:</label>
			<input type="file" name="foto" />
			<br/>
			<input type="submit" value="Enviar" />
	</form>

	<br/>
	<h3><a href="/">Lista de bares</a></h3>

{% endblock %}